<nav class="navbar navbar-expand-lg light-bg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="./assets/assets/images/Capture.PNG" width="150" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-2  mb-lg-0 align-items-center ">
            <li class="nav-item d-flex mt-auto me-2 gap-3">
                <i class="main-text fa-brands  fa-facebook h5 "></i>
                <i class="main-text fa-brands fa-youtube h5"></i>
                <i class="main-text fa-brands fa-tiktok h5"></i>
                <i class="main-text fa-brands fa-instagram h5"></i>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
              </li>
             
             
          
            
          </ul>
      </div>
    </div>
  </nav>