<section class="light-bg w-75 mx-auto m-4 p-3 rounded-4 main-shadow">
    <h2 class="main-text">Register Now:</h2>
    <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
        <div class="input-item mb-2">
            <label class="text-white" for="name">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <div *ngIf="registerForm.get('name')?.touched&&registerForm.get('name')?.errors" class="alert alert-danger mt-2">
                 <p *ngIf="registerForm.get('name')?.getError('required')" class="m-0 ">name is required</p>
                 <p *ngIf="registerForm.get('name')?.getError('minlength')" class="m-0">must be at least 3 chars</p>
                 <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="m-0">must be 20 characters Max</p>
            </div>
        </div>
        <div class="input-item mb-2">
            <label class="text-white"  for="email">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control">
            <div *ngIf="registerForm.get('email')?.touched&&registerForm.get('email')?.errors" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0 ">email is required</p>
                <p *ngIf="registerForm.get('email')?.getError('email')" class="m-0">Incorrect email</p>
           </div>
        </div>
        <div class="input-item mb-2 ">
            <label class="text-white"  for="password">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control">
            <div *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')?.errors" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0 ">password is required</p>
                <p *ngIf="registerForm.get('password')?.getError('pattern')" class="m-0">must be at least 6 chars</p>
           </div>
        </div>
        <div class="input-item mb-2">
            <label class="text-white"  for="rePassword">Repassword:</label>
            <input type="password" id="rePassword" formControlName="rePassword" class="form-control">
            <div *ngIf="registerForm.get('rePassword')?.touched&&registerForm.get('rePassword')?.errors" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="m-0 ">rePassword is required</p>
                <p *ngIf="registerForm.get('rePassword')?.getError('mismatch')" class="m-0">Password confirmation is incorrect</p>
           </div>
        </div>
        <div class="input-item mb-2">
            <label class="text-white"  for="phone">Phone:</label>
            <input type="tel" id="phone" formControlName="phone" class="form-control">
            <div *ngIf="registerForm.get('phone')?.touched&&registerForm.get('phone')?.errors" class="alert alert-danger mt-2">
                <p *ngIf="registerForm.get('phone')?.getError('required')" class="m-0 ">phone is required</p>
                <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="m-0">accept only egypt phone numbers</p>
           </div>
        </div>
        <div *ngIf="errMsg" class="alert alert-danger">
            <p class="m-0">{{errMsg}}</p>
        </div>
        <button [disabled]="registerForm.invalid" type="submit" class="main-btn d-block ms-auto">Register</button>
    </form>

</section>
