<section class="w-75 mx-auto my-5 rounded shadow p-4 position-relative" >
    <i role="button" *ngIf="!wishlistData.includes(productId)" (click)="addProductToWishlist(productId)" class="fa-regular fa-heart  wishIcon"></i>
    <i role="button" *ngIf="wishlistData.includes(productId)" (click)="removeProduct(productId)" class="fa-solid fa-heart text-danger wishIcon  "></i>
    <div class="row align-items-center" *ngIf="productDetails">
       
        <div class="col-md-3">
            <owl-carousel-o [options]="productDetailsOptions">

                <ng-container *ngFor="let item of productDetails.images">
                    <ng-template carouselSlide>
                        <img class="w-100" [src]="item" [alt]="productDetails.title" [title]="productDetails .title">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
        <div class="col-md-9">
            <div>
                <h2 class="h5">{{productDetails.title}}</h2>
                <p class="text-muted">{{productDetails.description}}</p>
                <span class="category-color">{{productDetails.category.name}}</span>
                <div class="d-flex justify-content-between">
                    <span>{{productDetails.price|currency:'EGP '}}</span>
                    <span>{{productDetails.ratingsAverage}}
                        <i class="fas fa-star rating-color "></i></span>
                </div>
                <button #addBtn (click)="addProductToCart(productDetails._id,addBtn)" class="main-btn w-100 mb-2">+Add to cart</button>
            </div>
        </div>
    </div>
</section>