:host{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border: unset;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scrollBtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container-fluid{
    margin-top: 5rem;
}

@keyframes scrollBtn{
    from{
        bottom: 20px;
    }
    to{
        bottom: 40px;
    }
}

