<section class="w-75 mx-auto mt-5 shadow light-bg rounded-2 p-2 text-white" *ngIf="step1">
    <form [formGroup]="sendCode" (ngSubmit)="handleSendCode()">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <button class="main-btn mt-2 w-100">Send Code</button>
        <div class="alert alert-danger my-1" *ngIf="sendCode.get('email')?.touched&&
        sendCode.get('email')?.errors">
             <p class="m-0" *ngIf="sendCode.get('email')?.getError('required')">Email is required</p>
             <p  class="m-0" *ngIf="sendCode.get('email')?.getError('email')">Invalid Email</p>
        </div>
    </form>
</section>
<section class="w-75 mx-auto mt-5 shadow light-bg rounded-2 p-2 text-white" *ngIf="step2">
    <form [formGroup]="verifyCode" (ngSubmit)="handleVerifyCode()">
        <label for="code">Enter Reset Code:</label>
        <input formControlName="resetCode" type="text" id="code" class="form-control">
        <button class="main-btn mt-2 w-100">Verifya Code</button>


        <div class="alert alert-danger my-1" *ngIf="verifyCode.get('resetCode')?.touched&&
        verifyCode.get('resetCode')?.errors">
             <p class="m-0" *ngIf="verifyCode.get('resetCode')?.getError('required')">Reset Code is required</p>
        </div>
    </form>
</section>
<section class="w-75 mx-auto mt-5 shadow light-bg rounded-2 p-2 text-white" *ngIf="step3">
    <form [formGroup]="newPass" (ngSubmit)="handleNewPassword()">
        <label for="code">Enter New Password:</label>
        <input formControlName="newPassword"  type="password" id="code" class="form-control">
        <button class="main-btn mt-2 w-100">Reset Password</button>

        <div class="alert alert-danger my-1" *ngIf="newPass.get('newPassword')?.touched&&
        newPass.get('newPassword')?.errors">
             <p class="m-0" *ngIf="newPass.get('newPassword')?.getError('required')">New password is required</p>
             <p class="m-0" *ngIf="newPass.get('newPassword')?.getError('pattern')">must be at least 6 chars</p>
        </div>
    </form>
</section>