/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';
$mainColor:#FFCB0D;
$semi-mainColor:#a8840d;
$lightColor:#3D464D;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  $font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;
$font-family: "Cairo", sans-serif;
body{
    font-family: $font-family;
    background-color: #f5f4f4;
}
.main-text{
    color: $mainColor;
}
.light-text{
    color: $lightColor;
}
.main-bg{
    background-color: $mainColor;
}
.light-bg{
    background-color: $lightColor;
}
.main-btn{
    padding: 5px 8px;
    background-color: $mainColor;
    color: $lightColor;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    &:disabled{
        background-color:#ffcb0d7c ;
        color: #3d464d6a;
        cursor: not-allowed;
    }
}
.active-link{
    background-color: $mainColor;
    color: $lightColor !important;
    border-radius: 5px;
   
}
.main-shadow{
    box-shadow: $shadow;
}
.product{
    border: 2px solid $lightColor;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    .heart{
        font-size: 2rem;
        position: absolute;
        top: 5px;
        right: -40px;
        z-index: 99;
        transition: $main-transition;
        cursor: pointer;
       
    }
    .main-btn{
        transform: translateY(150%);
        opacity: 0;
        transition: $main-transition;
    }
    &:hover{
        box-shadow: $shadow;
        .main-btn{
            transform: translateY(0);
            opacity: 1;
        }
        .heart{
            right: 5px;
        }
    }
}
.rating-color{
    color: $rating-color;
}
.category-color{
    color: $semi-mainColor;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
   
    background-color: $lightColor;
}
::-webkit-scrollbar-thumb{
    background-color: $mainColor;
}